/* Styling for the footer */

#footer {
    /* background-color: #00FF00; */
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 1px #CCCCCC;
    /* text-align: center; */

}

#best {
    text-align: center;
}
