/* header styling */

.header {
    width: 100%;
    height: 70px;
    /* background-color: #FF0000; */
    background-color: white;
    border-bottom: 1px #CCCCCC;

}

#logo {
    margin-left: 20px;
}

#div_logo {
    background-image: url();
}
